@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");

:root {
   --color-grey: rgba(255, 255, 255, 0.5);
   --dark-grey: #787878;
   --color-green: rgb(73, 191, 157);
   --light-grey: #a2a2a2;
}

* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
   font-family: "Roboto", sans-serif;
}

html,
body {
   width: 100%;
   overflow-x: hidden;
   position: relative;
   scroll-behavior: smooth;
}
