.main-section {
   width: 65%;
   margin-left: 475px;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
}

.intro {
   width: 90%;
   height: 90vh;
   display: flex;
   align-items: flex-start;
   justify-content: center;
   flex-direction: column;
   border-bottom: solid 2px #efefef;
}

div {
   font-size: 3rem;
   color: var(--light-grey);
}
.intro p {
   font-size: 1rem;
   color: var(--light-grey);
   margin: 40px 0;
}

.btn-container {
   width: 90%;
}
.learn-more,
.see-more,
.send {
   width: 180px;
   height: 50px;
   border: none;
   outline: none;
   border: solid 3px #efefef;
   background: transparent;
   font-family: "Roboto", sans-serif;
   color: var(--light-grey);
   transition: all 0.4s ease;
   cursor: pointer;
   font-size: 1.1rem;
}

.learn-more:hover,
.see-more:hover,
.send:hover {
   color: var(--color-green);
   border: solid 3px var(--color-green);
}
.see-more a {
   color: var(--light-grey);
   text-decoration: none;
}

.projects {
   width: 90%;
   margin: 40px 0;
}

.title {
   width: 100%;
   font-size: 3rem;
}

.works {
   width: 100%;
   display: flex;
   align-items: center;
   flex-wrap: wrap;
   margin: 20px 0;
   justify-content: space-evenly;
}

.item {
   width: 350px;
   height: 250px;
   margin: 20px 0;
}

.img-box {
   width: 100%;
   height: 75%;
   position: relative;
}

.view {
   position: absolute;
   left: 50%;
   margin-left: -20px;
   z-index: 2;
   top: 50%;
   margin-top: -20px;
   border: none;
   background: transparent;
   outline: none;
   border: solid 3px #efefef;
   transition: all 0.4s ease;
   cursor: pointer;
   width: 40px;
   height: 30px;
}

.view a {
   font-family: "Roboto", sans-serif;
   color: #efefef;
   text-decoration: none;
}
.img-box img {
   width: 100%;
   height: 100%;
   border-radius: 10px;
   cursor: pointer;
   transition: all 0.4s ease;
   object-fit: cover;
}
.img-box img:hover {
   filter: brightness(50%);
   transform: translateY(-4px);
}
.name {
   font-size: 1.3rem;
   margin: 15px 0;
   color: var(--dark-grey);
}
.made {
   font-size: 0.8rem;
}

.email {
   width: 90%;
   border-top: solid 2px #efefef;
}

.get-in {
   margin-top: 40px;
}

.sender {
   width: 50%;

   margin: 20px 0;
}
.name-email {
   display: flex;
   align-items: center;
}
.name-email input {
   width: 250px;
   height: 45px;
   border: none;
   border-radius: 0.35em;
   border: solid 2px transparent;
   color: inherit;
   display: block;
   outline: 0;
   padding: 0 0.75em;
   font-size: 1.04rem;
   margin: 20px 10px;
   background-color: #f7f7f7;
}
.name-email input:focus,
.message:focus {
   border: solid 2px var(--color-green);
}

.message {
   width: 450px;
   height: 230px;
   border: none;
   background-color: #f7f7f7;
   border-radius: 0.35em;
   border: solid 2px transparent;
   color: inherit;
   display: block;
   outline: 0;
   padding: 0.75em;
   font-size: 1.04rem;
   margin: 20px 10px;
}
