.left-section {
   width: 35%;
   height: 100vh;
   position: fixed;
   display: flex;
   align-items: center;
   justify-content: space-evenly;
   flex-direction: column;
   background: #001523;
}
.first-container {
   width: 80%;
   height: 90%;
   display: flex;
   align-items: flex-end;
   justify-content: center;
   flex-direction: column;
   text-align: right;
}
.first-container p {
   color: var(--color-grey);
   font-size: 1.7rem;
   padding: 20px 0;
}
.first-container p span {
   color: white;
}

.first-container img {
   width: 90px;
   height: 90px;
   margin: 10px 0;
   border-radius: 9999px;
}
.second-container {
   width: 100%;
}
.social-media {
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: flex-end;
   margin: 10px 0;
}
.social-media a {
   color: var(--color-grey);
   margin: 0 10px;
   font-size: 1.5rem;
   transition: all 0.4s ease;
}
.social-media a:hover {
   color: var(--color-green);
}
.others {
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: space-around;
   color: var(--color-grey);
   margin-right: 60px;
   flex-wrap: wrap;
}
.others p {
   font-size: 0.8rem;
}
.others a {
   color: var(--color-grey);
   text-decoration: none;
}
.others a:hover {
   color: var(--color-green);
}

@media screen and (max-width: 768px) {
   .left-section {
      display: none;
   }
}
